<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 8.5pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="1.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- keren_type -->
        <input type="text" value="X" style="top: 132pt; left: 351pt; width:12pt; background-color: transparent;">

        <!-- first_name -->
        <input type="text" value="מיכאל" style="top: 220pt; left: 497pt; width:76pt;">
        <!-- last_name -->
        <input type="text" value="וינוגרד" style="top: 220pt; left: 420pt; width:77pt;">
        <!-- id -->
        <input type="text" value="29093861" style="top: 220pt; left: 220pt; width:120pt;">
        <!-- birth date -->
        <input type="text" value="07-02-1972" style="top: 220pt; left: 151pt; width:67pt;">

        <!-- gender - male -->
        <input type="text" value="X" style="top: 220pt; left: 126pt; width:12pt; background-color: transparent;">
        <!-- gender - female -->
        <input type="text" value="X" style="top: 220pt; left: 138pt; width:12pt; background-color: transparent;">

        <!-- family status - single -->
        <input type="text" value="X" style="top: 215pt; left: 111pt; width:12pt; background-color: transparent;">
        <!-- family status - married -->
        <input type="text" value="X" style="top: 215pt; left: 91pt; width:12pt; background-color: transparent;">
        <!-- family status - divorced -->
        <input type="text" value="X" style="top: 215pt; left: 72pt; width:12pt; background-color: transparent;">
        <!-- family status - widower -->
        <input type="text" value="X" style="top: 215pt; left: 51pt; width:12pt; background-color: transparent;">
        <!-- family status - known spouse -->
        <input type="text" value="X" style="top: 224pt; left: 89pt; width:12pt; background-color: transparent;">

        <!-- address - city -->
        <input type="text" value="ניר צבי" style="top: 252pt; left: 406pt; width:168pt;">
        <!-- address - street -->
        <input type="text" value="הרימון" style="top: 252pt; left: 184pt; width:157pt;">
        <!-- address - house -->
        <input type="text" value="6" style="top: 252pt; left: 150pt; width:35pt;">
        <!-- address - email -->
        <input type="text" value="winomi@gmail.com" style="top: 288pt; left: 340pt; width:233pt;">
        <!-- address - cell -->
        <input type="text" value="0544567637" style="top: 288pt; left: 244pt; width:96pt;">

        <!-- worker type - employee -->
        <input type="text" value="X" style="top: 283pt; left: 136pt; width:12pt; background-color: transparent;">

        <!-- employer - name -->
        <input type="text" value="מיכאל וינוגרד" style="top: 501pt; left: 436pt; width:138pt;">
        <!-- employer - address -->
        <input type="text" value="הרימון 6 ניר צבי" style="top: 501pt; left: 243pt; width:193pt;">
        <!-- employer - id -->
        <input type="text" value="29093861" style="top: 501pt; left: 35pt; width:102pt;">
        <!-- employer - phone -->
        <input type="text" value="0544567637" style="top: 501pt; left: 136pt; width:107pt;">

        <!-- insurance type 1 -->
        <input type="text" value="X" style="top: 557pt; left: 557pt; width:12pt; background-color: transparent;">
        <!-- insurance type 2 -->
        <input type="text" value="X" style="top: 575pt; left: 557pt; width:12pt; background-color: transparent;">
        <!-- insurance type 3 -->
        <input type="text" value="X" style="top: 595pt; left: 557pt; width:12pt; background-color: transparent;">
        <!-- insurance type 4 -->
        <input type="text" value="X" style="top: 613pt; left: 557pt; width:12pt; background-color: transparent;">
        <!-- insurance type 5 -->
        <input type="text" value="X" style="top: 629pt; left: 557pt; width:12pt; background-color: transparent;">
        <!-- insurance type 6 -->
        <input type="text" value="X" style="top: 645pt; left: 557pt; width:12pt; background-color: transparent;">
        <!-- insurance type 7 -->
        <input type="text" value="X" style="top: 662pt; left: 557pt; width:12pt; background-color: transparent;">

        <!-- insurance type 1 age 67-->
        <input type="text" value="X" style="top: 558pt; left: 127pt; width:12pt; background-color: transparent;"> <!--67-->
        <!-- insurance type 1 age 64-->
        <input type="text" value="X" style="top: 558pt; left: 147pt; width:12pt; background-color: transparent;"> <!--64-->
        <!-- insurance type 1 age 62-->
        <input type="text" value="X" style="top: 558pt; left: 167pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 60-->
        <input type="text" value="X" style="top: 558pt; left: 187pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 67-->
        <input type="text" value="X" style="top: 576pt; left: 127pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 64-->
        <input type="text" value="X" style="top: 576pt; left: 147pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 62-->
        <input type="text" value="X" style="top: 576pt; left: 167pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 60-->
        <input type="text" value="X" style="top: 576pt; left: 187pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 67-->
        <input type="text" value="X" style="top: 596pt; left: 128pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 64-->
        <input type="text" value="X" style="top: 596pt; left: 147pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 62-->
        <input type="text" value="X" style="top: 596pt; left: 167pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 60-->
        <input type="text" value="X" style="top: 596pt; left: 187pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 67-->
        <input type="text" value="X" style="top: 614pt; left: 127pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 64-->
        <input type="text" value="X" style="top: 614pt; left: 147pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 62-->
        <input type="text" value="X" style="top: 614pt; left: 167pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 60-->
        <input type="text" value="X" style="top: 614pt; left: 187pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 67-->
        <input type="text" value="X" style="top: 630pt; left: 127pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 64-->
        <input type="text" value="X" style="top: 630pt; left: 147pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 62-->
        <input type="text" value="X" style="top: 630pt; left: 167pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 60-->
        <input type="text" value="X" style="top: 630pt; left: 187pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 67-->
        <input type="text" value="X" style="top: 645pt; left: 127pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 64-->
        <input type="text" value="X" style="top: 645pt; left: 147pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 62-->
        <input type="text" value="X" style="top: 645pt; left: 167pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 60-->
        <input type="text" value="X" style="top: 645pt; left: 187pt; width:12pt; background-color: transparent;"> 


    </body>
</html>