<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 8.5pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="2.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- add cover 1-->
        <input type="text" value="X" style="top: 104pt; left: 557pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- add cover 2-->
        <input type="text" value="X" style="top: 132pt; left: 557pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 1-->
        <input type="text" value="X" style="top: 207pt; left: 557pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 2-->
        <input type="text" value="X" style="top: 219pt; left: 557pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 4-->
        <input type="text" value="X" style="top: 303pt; left: 559pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 5-->
        <input type="text" value="X" style="top: 316pt; left: 559pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 


        <!-- investment track 1 tagmulim-->
        <input type="text" value="X" style="top: 428pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 tagmulim-->
        <input type="text" value="X" style="top: 446pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 tagmulim-->
        <input type="text" value="X" style="top: 457pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 tagmulim-->
        <input type="text" value="X" style="top: 469pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 tagmulim-->
        <input type="text" value="X" style="top: 479pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 tagmulim-->
        <input type="text" value="X" style="top: 491pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 tagmulim-->
        <input type="text" value="X" style="top: 502pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 8 tagmulim-->
        <input type="text" value="X" style="top: 514pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 9 tagmulim-->
        <input type="text" value="X" style="top: 525pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 10 tagmulim-->
        <input type="text" value="X" style="top: 536pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 11 tagmulim-->
        <input type="text" value="X" style="top: 547pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 12 tagmulim-->
        <input type="text" value="X" style="top: 559pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 13 tagmulim-->
        <input type="text" value="X" style="top: 571pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- investment track 1 pitzuim-->
        <input type="text" value="X" style="top: 623pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 pitzuim-->
        <input type="text" value="X" style="top: 639pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 pitzuim-->
        <input type="text" value="X" style="top: 650pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 pitzuim-->
        <input type="text" value="X" style="top: 661pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 pitzuim-->
        <input type="text" value="X" style="top: 672pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 pitzuim-->
        <input type="text" value="X" style="top: 683pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 pitzuim-->
        <input type="text" value="X" style="top: 694pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 8 pitzuim-->
        <input type="text" value="X" style="top: 706pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 9 pitzuim-->
        <input type="text" value="X" style="top: 717pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 10 pitzuim-->
        <input type="text" value="X" style="top: 728pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 11 pitzuim-->
        <input type="text" value="X" style="top: 740pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 12 pitzuim-->
        <input type="text" value="X" style="top: 751pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 13 pitzuim-->
        <input type="text" value="X" style="top: 763pt; left: 551pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 


    </body>
</html>