<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 10pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="1.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- first_name -->
        <input type="text" value="מיכאל" style="top: 266pt; left: 461pt; width:90pt;">
        <!-- last_name -->
        <input type="text" value="וינוגרד" style="top: 266pt; left: 370pt; width:91pt;">
        <!-- id -->
        <input type="text" value="29093861" style="top: 266pt; left: 308pt; width:63pt;">
        <!-- birth date -->
        <input type="text" value="07-02-1972" style="top: 266pt; left: 167pt; width:63pt;">

        <!-- gender - male -->
        <input type="text" value="X" style="top: 266pt; left: 140pt; width:12pt; background-color: transparent;">
        <!-- gender - female -->
        <input type="text" value="X" style="top: 266pt; left: 140pt; width:12pt; background-color: transparent;">

        <!-- family status - single -->
        <input type="text" value="X" style="top: 260pt; left: 110pt; width:12pt; background-color: transparent;">
        <!-- family status - married -->
        <input type="text" value="X" style="top: 260pt; left: 87pt; width:12pt; background-color: transparent;">
        <!-- family status - divorced -->
        <input type="text" value="X" style="top: 260pt; left: 66pt; width:12pt; background-color: transparent;">
        <!-- family status - widower -->
        <input type="text" value="X" style="top: 271pt; left: 105pt; width:12pt; background-color: transparent;">
        <!-- family status - known spouse -->
        <input type="text" value="X" style="top: 271pt; left: 75pt; width:12pt; background-color: transparent;">

        <!-- address - city -->
        <input type="text" value="ניר צבי" style="top: 304pt; left: 435pt; width:116pt;">
        <!-- address - street -->
        <input type="text" value="הרימון" style="top: 304pt; left: 220pt; width:173pt;">
        <!-- address - house -->
        <input type="text" value="6" style="top: 304pt; left: 178pt; width:40pt;">
        <!-- address - email -->
        <input type="text" value="winomi@gmail.com" style="top: 340pt; left: 392pt; width:160pt;">
        <!-- address - cell -->
        <input type="text" value="0544567637" style="top: 340pt; left: 277pt; width:115pt;">

        <!-- worker type - employee -->
        <input type="text" value="X" style="top: 334pt; left: 154pt; width:12pt; background-color: transparent;">

        <!-- employer - name -->
        <input type="text" value="מיכאל וינוגרד" style="top: 618pt; left: 428pt; width:124pt;">
        <!-- employer - address -->
        <input type="text" value="הרימון 6 ניר צבי" style="top: 618pt; left: 304pt; width:124pt;">
        <!-- employer - id -->
        <input type="text" value="29093861" style="top: 618pt; left: 55pt; width:124pt;">
        <!-- employer - phone -->
        <input type="text" value="0544567637" style="top: 618pt; left: 179pt; width:124pt;">

        <!-- insurance type 1 -->
        <input type="text" value="X" style="top: 466pt; left: 564pt; width:12pt; background-color: transparent;">
        <!-- insurance type 1 age -->
        <input type="text" value="X" style="top: 472pt; left: 141pt; width:12pt; background-color: transparent;"> <!--67-->
        <input type="text" value="X" style="top: 472pt; left: 175pt; width:12pt; background-color: transparent;"> <!--64-->

    </body>
</html>