<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 10pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="2.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- insurance type 1 -->
        <input type="text" value="X" style="top: 181pt; left: 522pt; width:12pt; background-color: transparent;">
        <!-- insurance type 2 -->
        <input type="text" value="X" style="top: 208pt; left: 522pt; width:12pt; background-color: transparent;">
        <!-- insurance type 3 -->
        <input type="text" value="X" style="top: 236pt; left: 522pt; width:12pt; background-color: transparent;">
        <!-- insurance type 4 -->
        <input type="text" value="X" style="top: 258pt; left: 522pt; width:12pt; background-color: transparent;">
        <!-- insurance type 5 -->
        <input type="text" value="X" style="top: 273pt; left: 522pt; width:12pt; background-color: transparent;">
        <!-- insurance type 6 -->
        <input type="text" value="X" style="top: 287pt; left: 522pt; width:12pt; background-color: transparent;">
        <!-- insurance type 7 -->
        <input type="text" value="X" style="top: 302pt; left: 522pt; width:12pt; background-color: transparent;">
        <!-- insurance type 8 -->
        <input type="text" value="X" style="top: 323pt; left: 522pt; width:12pt; background-color: transparent;">
        <!-- insurance type age 67-->
        <input type="text" value="X" style="top: 260pt; left: 197pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type age 64-->
        <input type="text" value="X" style="top: 246pt; left: 197pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type age 62-->
        <input type="text" value="X" style="top: 232pt; left: 197pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type age 60-->
        <input type="text" value="X" style="top: 218pt; left: 197pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type age 60 (8)-->
        <input type="text" value="X" style="top: 324pt; left: 197pt; width:12pt; background-color: transparent;"> 

    </body>
</html>