<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 10pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="4.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- investment track 0 tagmulim-->
        <input type="text" value="X" style="top: 195pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 1 tagmulim-->
        <input type="text" value="X" style="top: 210pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 tagmulim-->
        <input type="text" value="X" style="top: 224pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 tagmulim-->
        <input type="text" value="X" style="top: 239pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 tagmulim-->
        <input type="text" value="X" style="top: 254pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 tagmulim-->
        <input type="text" value="X" style="top: 269pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- investment track 0 tagmulim percent-->
        <input type="text" value="000%" style="top: 374pt; left: 339pt; width:22pt; background-color: transparent;"> 

        <!-- investment track 0 pitzuim-->
        <input type="text" value="X" style="top: 326pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 1 pitzuim-->
        <input type="text" value="X" style="top: 341pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 pitzuim-->
        <input type="text" value="X" style="top: 355pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 pitzuim-->
        <input type="text" value="X" style="top: 370pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 pitzuim-->
        <input type="text" value="X" style="top: 384pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 pitzuim-->
        <input type="text" value="X" style="top: 399pt; left: 524pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- hafkada percent-->
        <input type="text" value="6.66" style="top: 502pt; left: 392pt; width:24pt; background-color: transparent;"> 
        <!-- tzvira percent-->
        <input type="text" value="6.66" style="top: 516pt; left: 386pt; width:24pt; background-color: transparent;"> 

    </body>
</html>