<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 9pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="3.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- investment track 1 tagmulim-->
        <input type="text" value="X" style="top: 182pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 tagmulim-->
        <input type="text" value="X" style="top: 199pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 tagmulim-->
        <input type="text" value="X" style="top: 216pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 tagmulim-->
        <input type="text" value="X" style="top: 233pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 tagmulim-->
        <input type="text" value="X" style="top: 250pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 tagmulim-->
        <input type="text" value="X" style="top: 267pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 tagmulim-->
        <input type="text" value="X" style="top: 284pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 8 tagmulim-->
        <input type="text" value="X" style="top: 301pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- investment track 0 tagmulim percent-->
        <input type="text" value="000%" style="top: 374pt; left: 339pt; width:22pt; background-color: transparent;"> 

        <!-- investment track 1 pitzuim-->
        <input type="text" value="X" style="top: 388pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 pitzuim-->
        <input type="text" value="X" style="top: 404pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 pitzuim-->
        <input type="text" value="X" style="top: 422pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 pitzuim-->
        <input type="text" value="X" style="top: 438pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 pitzuim-->
        <input type="text" value="X" style="top: 455pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 pitzuim-->
        <input type="text" value="X" style="top: 473pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 pitzuim-->
        <input type="text" value="X" style="top: 490pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 8 pitzuim-->
        <input type="text" value="X" style="top: 506pt; left: 541pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- hafkada percent-->
        <input type="text" value="6.66" style="top: 637pt; left: 340pt; width:25pt; background-color: transparent;"> 
        <!-- tzvira percent-->
        <input type="text" value="6.66" style="top: 637pt; left: 510pt; width:25pt; background-color: transparent;"> 

    </body>
</html>