<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 9pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="1.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- keren_type -->
        <input type="text" value="X" style="top: 132pt; left: 351pt; width:12pt; background-color: transparent;">

        <!-- first_name -->
        <input type="text" value="מיכאל" style="top: 285pt; left: 496pt; width:62pt;">
        <!-- last_name -->
        <input type="text" value="וינוגרד" style="top: 285pt; left: 428pt; width:68pt;">
        <!-- id -->
        <input type="text" value="29093861" style="top: 285pt; left: 270pt; width:79pt;">
        <!-- birth date -->
        <input type="text" value="07-02-1972" style="top: 285pt; left: 214pt; width:56pt;">

        <!-- gender - male -->
        <input type="text" value="X" style="top: 277pt; left: 198pt; width:12pt; background-color: transparent;">
        <!-- gender - female -->
        <input type="text" value="X" style="top: 292pt; left: 198pt; width:12pt; background-color: transparent;">

        <!-- family status - single -->
        <input type="text" value="X" style="top: 277pt; left: 139pt; width:12pt; background-color: transparent;">
        <!-- family status - married -->
        <input type="text" value="X" style="top: 277pt; left: 103pt; width:12pt; background-color: transparent;">
        <!-- family status - divorced -->
        <input type="text" value="X" style="top: 277pt; left: 72pt; width:12pt; background-color: transparent;">
        <!-- family status - widower -->
        <input type="text" value="X" style="top: 292pt; left: 139pt; width:12pt; background-color: transparent;">
        <!-- family status - known spouse -->
        <input type="text" value="X" style="top: 292pt; left: 102pt; width:12pt; background-color: transparent;">

        <!-- address - city -->
        <input type="text" value="ניר צבי" style="top: 343pt; left: 435pt; width:123pt;">
        <!-- address - street -->
        <input type="text" value="הרימון" style="top: 343pt; left: 204pt; width:167pt;">
        <!-- address - house -->
        <input type="text" value="6" style="top: 343pt; left: 161pt; width:43pt;">
        <!-- address - email -->
        <input type="text" value="winomi@gmail.com" style="top: 411pt; left: 360pt; width:197pt;">
        <!-- address - cell -->
        <input type="text" value="0544567637" style="top: 411pt; left: 274pt; width:85pt;">

        <!-- worker type - employee -->
        <input type="text" value="X" style="top: 390pt; left: 172pt; width:12pt; background-color: transparent;">

        <!-- employer - name -->
        <input type="text" value="מיכאל וינוגרד" style="top: 716pt; left: 436pt; width:121pt;">
        <!-- employer - address -->
        <input type="text" value="הרימון 6 ניר צבי" style="top: 716pt; left: 291pt; width:144pt;">
        <!-- employer - id -->
        <input type="text" value="29093861" style="top: 716pt; left: 48pt; width:121pt;">
        <!-- employer - phone -->
        <input type="text" value="0544567637" style="top: 716pt; left: 170pt; width:121pt;">


    </body>
</html>