<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 9pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="2.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->


        <!-- insurance type 1 -->
        <input type="text" value="X" style="top: 139pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 2 -->
        <input type="text" value="X" style="top: 178pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 3 -->
        <input type="text" value="X" style="top: 215pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 4 -->
        <input type="text" value="X" style="top: 254pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 5 -->
        <input type="text" value="X" style="top: 270pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 6 -->
        <input type="text" value="X" style="top: 299pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 7 -->
        <input type="text" value="X" style="top: 316pt; left: 543pt; width:12pt; background-color: transparent;">
        
        <!-- insurance type 1 age 67-->
        <input type="text" value="X" style="top: 149pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 64-->
        <input type="text" value="X" style="top: 149pt; left: 204pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 62-->
        <input type="text" value="X" style="top: 149pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 60-->
        <input type="text" value="X" style="top: 149pt; left: 260pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 67-->
        <input type="text" value="X" style="top: 188pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 64-->
        <input type="text" value="X" style="top: 188pt; left: 204pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 62-->
        <input type="text" value="X" style="top: 188pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 60-->
        <input type="text" value="X" style="top: 188pt; left: 260pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 67-->
        <input type="text" value="X" style="top: 226pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 64-->
        <input type="text" value="X" style="top: 226pt; left: 204pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 62-->
        <input type="text" value="X" style="top: 226pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 60-->
        <input type="text" value="X" style="top: 226pt; left: 260pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 67-->
        <input type="text" value="X" style="top: 254pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 64-->
        <input type="text" value="X" style="top: 254pt; left: 204pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 62-->
        <input type="text" value="X" style="top: 254pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 60-->
        <input type="text" value="X" style="top: 254pt; left: 260pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 67-->
        <input type="text" value="X" style="top: 276pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 64-->
        <input type="text" value="X" style="top: 276pt; left: 204pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 62-->
        <input type="text" value="X" style="top: 276pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 60-->
        <input type="text" value="X" style="top: 276pt; left: 260pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 67-->
        <input type="text" value="X" style="top: 297pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 64-->
        <input type="text" value="X" style="top: 297pt; left: 204pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 62-->
        <input type="text" value="X" style="top: 297pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 60-->
        <input type="text" value="X" style="top: 297pt; left: 260pt; width:12pt; background-color: transparent;"> 


        <!-- add cover 1-->
        <input type="text" value="X" style="top: 446pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- add cover 2-->
        <input type="text" value="X" style="top: 473pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- waver 1-->
        <input type="text" value="X" style="top: 531pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 2-->
        <input type="text" value="X" style="top: 549pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 4-->
        <input type="text" value="X" style="top: 690pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 4-->
        <input type="text" value="X" style="top: 770pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 5-->
        <input type="text" value="X" style="top: 786pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 


    </body>
</html>