<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 10pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="1.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- keren_type -->
        <input type="text" value="X" style="top: 132pt; left: 351pt; width:12pt; background-color: transparent;">

        <!-- first_name -->
        <input type="text" value="מיכאל" style="top: 180pt; left: 492pt; width:82pt;">
        <!-- last_name -->
        <input type="text" value="וינוגרד" style="top: 180pt; left: 407pt; width:86pt;">
        <!-- id -->
        <input type="text" value="29093861" style="top: 180pt; left: 204pt; width:209pt;">
        <!-- birth date -->
        <input type="text" value="07-02-1972" style="top: 180pt; left: 137pt; width:67pt;">

        <!-- gender - male -->
        <input type="text" value="X" style="top: 175pt; left: 126pt; width:12pt; background-color: transparent;">
        <!-- gender - female -->
        <input type="text" value="X" style="top: 183pt; left: 126pt; width:12pt; background-color: transparent;">

        <!-- family status - single -->
        <input type="text" value="X" style="top: 185pt; left: 107pt; width:12pt; background-color: transparent;">
        <!-- family status - married -->
        <input type="text" value="X" style="top: 185pt; left: 87pt; width:12pt; background-color: transparent;">
        <!-- family status - divorced -->
        <input type="text" value="X" style="top: 185pt; left: 72pt; width:12pt; background-color: transparent;">
        <!-- family status - widower -->
        <input type="text" value="X" style="top: 185pt; left: 56pt; width:12pt; background-color: transparent;">
        <!-- family status - known spouse -->
        <input type="text" value="X" style="top: 185pt; left: 38pt; width:12pt; background-color: transparent;">

        <!-- address - city -->
        <input type="text" value="ניר צבי" style="top: 208pt; left: 455pt; width:118pt;">
        <!-- address - street -->
        <input type="text" value="הרימון" style="top: 208pt; left: 228pt; width:132pt;">
        <!-- address - house -->
        <input type="text" value="6" style="top: 208pt; left: 180pt; width:47pt;">
        <!-- address - email -->
        <input type="text" value="winomi@gmail.com" style="top: 236pt; left: 378pt; width:195pt;">
        <!-- address - cell -->
        <input type="text" value="0544567637" style="top: 236pt; left: 273pt; width:106pt;">

        <!-- worker type - employee -->
        <input type="text" value="X" style="top: 236pt; left: 152pt; width:12pt; background-color: transparent;">

        <!-- employer - name -->
        <input type="text" value="מיכאל וינוגרד" style="top: 413pt; left: 443pt; width:130pt;">
        <!-- employer - address -->
        <input type="text" value="הרימון 6 ניר צבי" style="top: 413pt; left: 279pt; width:164pt;">
        <!-- employer - id -->
        <input type="text" value="29093861" style="top: 413pt; left: 32pt; width:138pt;">
        <!-- employer - phone -->
        <input type="text" value="0544567637" style="top: 413pt; left: 171pt; width:108pt;">


        <!-- insurance type 1 -->
        <input type="text" value="X" style="top: 458pt; left: 554pt; width:12pt; background-color: transparent;">
        <!-- insurance type 2 -->
        <input type="text" value="X" style="top: 482pt; left: 554pt; width:12pt; background-color: transparent;">
        <!-- insurance type 3 -->
        <input type="text" value="X" style="top: 502pt; left: 554pt; width:12pt; background-color: transparent;">
        <!-- insurance type 4 -->
        <input type="text" value="X" style="top: 526pt; left: 554pt; width:12pt; background-color: transparent;">
        <!-- insurance type 5 -->
        <input type="text" value="X" style="top: 546pt; left: 554pt; width:12pt; background-color: transparent;">
        <!-- insurance type 6 -->
        <input type="text" value="X" style="top: 566pt; left: 554pt; width:12pt; background-color: transparent;">
        <!-- insurance type 7 -->
        <input type="text" value="X" style="top: 588pt; left: 554pt; width:12pt; background-color: transparent;">
        
        <!-- insurance type 1 age 67-->
        <input type="text" value="X" style="top: 458pt; left: 54pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 64-->
        <input type="text" value="X" style="top: 458pt; left: 93pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 62-->
        <input type="text" value="X" style="top: 458pt; left: 130pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 60-->
        <input type="text" value="X" style="top: 458pt; left: 173pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 67-->
        <input type="text" value="X" style="top: 481pt; left: 54pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 64-->
        <input type="text" value="X" style="top: 481pt; left: 93pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 62-->
        <input type="text" value="X" style="top: 481pt; left: 130pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 60-->
        <input type="text" value="X" style="top: 481pt; left: 173pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 67-->
        <input type="text" value="X" style="top: 504pt; left: 54pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 64-->
        <input type="text" value="X" style="top: 504pt; left: 93pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 62-->
        <input type="text" value="X" style="top: 504pt; left: 130pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 60-->
        <input type="text" value="X" style="top: 504pt; left: 173pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 67-->
        <input type="text" value="X" style="top: 525pt; left: 54pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 64-->
        <input type="text" value="X" style="top: 525pt; left: 93pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 62-->
        <input type="text" value="X" style="top: 525pt; left: 130pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 60-->
        <input type="text" value="X" style="top: 525pt; left: 173pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 67-->
        <input type="text" value="X" style="top: 545pt; left: 54pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 64-->
        <input type="text" value="X" style="top: 545pt; left: 93pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 62-->
        <input type="text" value="X" style="top: 545pt; left: 130pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 60-->
        <input type="text" value="X" style="top: 545pt; left: 173pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 67-->
        <input type="text" value="X" style="top: 566pt; left: 54pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 64-->
        <input type="text" value="X" style="top: 566pt; left: 93pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 62-->
        <input type="text" value="X" style="top: 566pt; left: 130pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 60-->
        <input type="text" value="X" style="top: 566pt; left: 173pt; width:12pt; background-color: transparent;"> 


        <!-- add cover 1-->
        <input type="text" value="X" style="top: 647pt; left: 560pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- add cover 2-->
        <input type="text" value="X" style="top: 672pt; left: 561pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- waver 1-->
        <input type="text" value="X" style="top: 700pt; left: 560pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 2-->
        <input type="text" value="X" style="top: 715pt; left: 560pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 4-->
        <input type="text" value="X" style="top: 787pt; left: 560pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 5-->
        <input type="text" value="X" style="top: 803pt; left: 560pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

    </body>
</html>